%h1.text-center.large-heading Message
%h3.text-center
  = "from #{@friend.full_name.titleize}"

.row
  .col-md-10.col-md-offset-1
    %h3(class='open-sans text-center')
      = @message.title
    %p
      = @message.content
    %br
    = link_to new_user_message_path(@friend.id), class: 'btn btn-primary' do
      =fa_icon 'share', text: 'reply'
    - if @message.important
      = link_to unimportant_user_message_path(current_user.id, @message.id), class: 'btn btn-primary', method: :post do
        = fa_icon 'tag', text: 'unimportant'
    - else
      = link_to important_user_message_path(current_user.id, @message.id), class: 'btn btn-primary', method: :post do
        = fa_icon 'tag', text: 'important'
    = link_to user_message_path(current_user.id, @message.id, from_show_page: 'true'), class: 'btn btn-primary', method: :delete do
      =fa_icon 'trash-o', text: 'delete'
