%h1.text-center.large-heading Find User
.row
  .search-friend
    .form-sign-up-log-in
      = render 'form'
.row
  %h3.text-center All Users
  .col-md-8.col-md-offset-2
    %ul.list-of-friends
      - @not_friends.each do |user|
        %li
          %span.cl-effect-12
            %a(href='#')= fa_icon 'user', text: "#{user.full_name}"
            %span(class='pull-right')
              = link_to send_request_user_friend_path(current_user, user), class: 'smaller-icon green', method: :post do
                = fa_icon 'paper-plane-o', text: 'Friend Request'
