%h1.text-center.large-heading My Friends
%br

.row
  = render 'shared/left_navigation'
  .col-md-8
    %ul(class='nav nav-tabs')
      %li(role='presentation' class="#{'active' if params[:friends] == 'all'}")
        = link_to "Friends (#{@num_of_friends})", my_friends_user_path(current_user, friends: 'all')
      %li(role='presentation' class="#{'active' if params[:friends] == 'pending'}")
        = link_to "Pending (#{@num_of_pending_friends})", my_friends_user_path(current_user, friends: 'pending')
      %li(role='presentation' class="#{'active' if params[:friends] == 'blocked'}")
        = link_to "Blocked & Rejected (#{@num_of_blocked_friends})", my_friends_user_path(current_user, friends: 'blocked')
      %br
    %ul.list-of-friends
      %li
        - if params[:friends] == 'all'
          %span.cl-effect-12
            - @friends.each do |user|
              = link_to '#' do
                = fa_icon 'child', text: user.full_name
              %span(class='pull-right')
                = link_to '#', class: 'green smaller-icon' do
                  =fa_icon 'envelope-o', text: 'send mail'
                = link_to '#', class: 'smaller-icon' do
                  =fa_icon 'ban', text: 'block'
      %li
        - if params[:friends] == 'pending'
          %span.cl-effect-12
            - @pending_friends.each do |user|
              = link_to '#' do
                = fa_icon 'street-view', text: user.full_name
              %span(class='pull-right')
                = link_to '#', class: 'smaller-icon green' do
                  =fa_icon 'check', text: 'Accept'
                = link_to '#', class: 'smaller-icon' do
                  =fa_icon 'trash-o', text: 'Reject'
      %li
        - if params[:friends] == 'blocked'
          %span.cl-effect-12
            - @blocked_friends.each do |user|
              = link_to '#' do
                = fa_icon 'user-secret', text: user.full_name
              %span(class='pull-right')
                = link_to '#', class: 'smaller-icon green' do
                  =fa_icon 'user-plus', text: 'Add Friend'
