.col-md-3
  - if logged_in?
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation' class="#{cp(edit_user_path(current_user))}")
        = link_to 'Settings', edit_user_path(current_user)
      %li(role='presentation' class="#{cp(reviews_user_path(current_user))}")
        = link_to 'Reviews', reviews_user_path(current_user)
      %li(role='presentation' class="#{cp(my_friends_user_path(current_user))}")
        = link_to 'My Friends', my_friends_user_path(current_user, friends: 'all')
      - if owner? || admin?
        %li(role='presentation' class="#{cp(user_companies_path(current_user))}")
          = link_to 'My Companies', user_companies_path(current_user)
        %li(role='presentation' class="#{cp(new_user_company_path(current_user))}")
          = link_to 'Add new Company', new_user_company_path(current_user)
      - if admin?
        %li(role='presentation' class="#{cp(cities_path)}")
          = link_to 'All Cities', cities_path
        %li(role='presentation' class="#{cp(new_city_path)}")
          = link_to 'Add new City', new_city_path
        %li(role='presentation' class="#{cp(categories_path)}")
          = link_to 'All Categories', categories_path
        %li(role='presentation' class="#{cp(new_category_path)}")
          = link_to 'Add new Category', new_category_path
        %li(role='presentation' class="#{cp(users_path)}")
          = link_to 'All Users', users_path
