.container.navigation-container
  .row
    .text-center.logo
      %h1 Yelp
      .logo-subheading.bevan clone app
    .col-md-9.col-md-offset-2
      = render 'shared/search_form'
    .col-md-1
      - if logged_in?
        %span.dropdown.pull-right
          %a(class="dropdown-toggle btn btn-primary" data-toggle="dropdown"
            href="#" role="button" aria-haspopup="true" aria-expanded="false")
            = shorten_full_name(current_user.full_name.titleize)
            %span.caret
          %ul.dropdown-menu
            %li
              %a 
                %span.glyphicon.glyphicon-user 
                  %span
                    = current_user.friends.count
                %span.glyphicon.glyphicon-star
                  %span
                    = current_user.reviews.count
            %li
              = link_to 'About Me', reviews_user_path(current_user)
            %li
              = link_to 'Account Settings', edit_user_path(current_user)
            %li(role='separator' class='divider')
            %li
              = link_to 'Log Out', logout_path
    .col-md-9.col-md-offset-2
      .nav.nav-pills.main-navigation
        %li(role='presentation' class="#{cp(root_path)}")
          = link_to 'Home', root_path
        - if logged_in?
          %li(role='presentation' class="#{cp(reviews_user_path(current_user))}")
            = link_to 'About me', reviews_user_path(current_user)
          %li(role='presentation' class="#{cp(listed_companies_path)}")
            = link_to 'Write a review', listed_companies_path
          %li(role='presentation' class="#{cp(find_friend_path)}")
            = link_to 'Find Friends', find_friend_path
          %li(role='presentation' class="#{cp(user_messages_path(current_user, page: 'unread'))}")
            = link_to 'Messages', user_messages_path(current_user, page: 'unread')
        %li(role='presentation' class="#{cp(about_us_path)}")
          = link_to 'About us', about_us_path
        %li(role='presentation' class="#{cp(help_path)}")
          = link_to 'Help', help_path
