%h1.text-center.large-heading My Companies
%br
.row
  = render 'shared/left_navigation'
  .col-md-6.text-center
    - if @companies.empty?
      %h3 You have no Companies listed
      %h5 Be a King and create a Company!
      %br
      = link_to 'Create your First Company',
                 new_user_company_path(current_user),
                 class: 'btn btn-primary btn-lg'
    - @companies.each do |company|
      .row
        %span.cl-effect-12
          = link_to company.name, '#', class: 'company-name'
      .row
        - company.categories.each do |category|
          = link_to category.title, '#', class: 'label label-primary'
      .row
        .average-stars.company-stars
          = fa_icon 'star'
          = fa_icon 'star'
          = fa_icon 'star'
          = fa_icon 'star-o'
          = fa_icon 'star-o'
          %span.company-reviews 116 Reviews
        .eur.eur-all
          - full_euro_icons = company.price_range
          - 5.times do
            - if full_euro_icons > 0
              = fa_icon 'eur', class: 'eur-full'
              - full_euro_icons -= 1
            - else
              = fa_icon 'eur', class: 'eur-empty'
      .row
        %br
        %div 
          -# = "#{company.city.name}, #{company.city.country}"

        %br
        = link_to 'Edit', edit_user_company_path(current_user, company),
                          class: 'btn btn-default default-button btn-sm'
        = link_to 'Delete', user_company_path(current_user, company),
            method: :delete, 
            data: { confirm: 'Are you shure you want to delete this Company?' },
            class: 'btn btn-default default-button btn-sm'
      %br
      %hr

