%h1.text-center.large-heading Categories
%br

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation')
        %a(href='#') Settings
      %li(role='presentation')
        %a(href='#') Reviews
      %li(role='presentation')
        %a(href='#') Friends
      %li(role='presentation')
        %a(href='#') Company
      %li(role='presentation')
        %a(href='#') Add new Company
      %li(role='presentation' class='active')
        %a(href='#') Categories
      %li(role='presentation')
        %a(href='#') Add new Category
      %li(role='presentation')
        %a(href='#') Flags
  .col-md-6
    %ul.list-of-categories
      %li
        Travel
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
      %li
        Hotels
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
      %li
        Spa & Beauty
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
      %li
        Travel
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
      %li
        Travel
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
      %li
        Travel
        %span(class='pull-right cl-effect-12')
          %a(href='#' class='category-icon')= fa_icon 'edit', text: 'edit'
          %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete'
