%h1.text-center.large-heading Review Flags
%br

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation')
        %a(href='#') Settings
      %li(role='presentation')
        %a(href='#') Reviews
      %li(role='presentation')
        %a(href='#') Friends
      %li(role='presentation')
        %a(href='#') Company
      %li(role='presentation')
        %a(href='#') Add new Company
      %li(role='presentation')
        %a(href='#') Categories
      %li(role='presentation')
        %a(href='#') Add new Category
      %li(role='presentation' class='active')
        %a(href='#') Flags
  .col-md-9
    %ol.list-of-flags
      %li
        This is my first review of McDonalds
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
      %li
        Where have you been all my life Tacko LOVE
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
      %li
        This is my first review of McDonalds
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
      %li
        This is my first review of McDonalds
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
      %li
        This is my first review of McDonalds
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
      %li
        This is my first review of McDonalds
        %div
          %span(class='cl-effect-12')
            %a(href='#' class='category-icon')= fa_icon 'eye', text: 'see review'
            %a(href='#' class='category-icon')= fa_icon 'envelope-o', text: 'writer'
            %a(href='#' class='category-icon')= fa_icon 'envelope', text: 'reporter'
            %a(href='#' class='category-icon')= fa_icon 'close', text: 'delete flag'
            %a(href='#' class='category-icon')= fa_icon 'warning', text: 'delete review'
