%h1.text-center.large-heading My reviews

.row
  .col-md-3
    %ul.nav.nav-pills.nav-stacked.text-center
      %li(role='presentation')
        %a(href='#') Settings
      %li(role='presentation' class='active')
        %a(href='#') Reviews
      %li(role='presentation')
        %a(href='#') Friends
      %li(role='presentation')
        %a(href='#') Company
      %li(role='presentation')
        %a(href='#') Add new Company
      %li(role='presentation')
        %a(href='#') Add new Category
      %li(role='presentation')
        %a(href='#') Flags
  .col-md-9
    .review
      .row.col-md-12
        %span.cl-effect-12
          %a(href='#') Toni. C
        wrote a review for
        %span.cl-effect-12
          %a(href='#') Kasca Mrlacnik
        %span.pull-right.time-ago= fa_icon 'clock-o', text: '1 minute ago'
      .row.review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
      .row
        .col-md-8
          %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
      .row
        .col-md-12
          %span.cl-effect-12
            %a(href='#')= fa_icon 'share-square-o', text: 'read more'
      %br
      %a(href='#' class='btn btn-default default-button') Edit Review
      %a(href='#' class='btn btn-default default-button') Delete Review
      %hr

    .review
      .row.col-md-12
        %span.cl-effect-12
          %a(href='#') Toni. C
        wrote a review for
        %span.cl-effect-12
          %a(href='#') Kasca Mrlacnik
        %span.pull-right.time-ago= fa_icon 'clock-o', text: '1 minute ago'
      .row.review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
      .row
        .col-md-8
          %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
      .row
        .col-md-12
          %span.cl-effect-12
            %a(href='#')= fa_icon 'share-square-o', text: 'read more'
      %br
      %a(href='#' class='btn btn-default default-button') Edit Review
      %a(href='#' class='btn btn-default default-button') Delete Review
      %hr

    .review
      .row.col-md-12
        %span.cl-effect-12
          %a(href='#') Toni. C
        wrote a review for
        %span.cl-effect-12
          %a(href='#') Kasca Mrlacnik
        %span.pull-right.time-ago= fa_icon 'clock-o', text: '1 minute ago'
      .row.review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
      .row
        .col-md-8
          %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
      .row
        .col-md-12
          %span.cl-effect-12
            %a(href='#')= fa_icon 'share-square-o', text: 'read more'
