%h1.text-center.large-heading My Messages

.row
  .col-md-10.col-md-offset-1
    %ul(class='nav nav-tabs')
      %li(role='presentation')
        %a(href='#') unread (5)
      %li(role='presentation')
        %a(href='#') read (34)
      %li(role='presentation' class='active')
        %a(href='#') important (7)
      %br

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th #
          %th Friend
          %th Title
          %th Actions
      %tbody
        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 1
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

        %tr
          %th(scope='row') 143
          %td Joe Biden
          %td
            %span.cl-effect-12
              %a(href='#') Tukaj moras omejiti znake za naslov  40z
          %td
            %span.cl-effect-12
              %a(href='#')= fa_icon 'exchange', text: 'bach to read'
              %a(href='#')= fa_icon 'trash-o', text: 'delete'

