%h1.text-center.large-heading Review
.review
  .row.col-md-12
    %span.cl-effect-12
      %a(href='#') Mary A.
    wrote a review for
    %span.cl-effect-12
      %a(href='#') Kasca Mrlacnik
    %span.pull-right.time-ago= fa_icon 'clock-o', text: '1 minute ago'
  .row.review-stars.col-md-12
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
  .row
    .col-md-8
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
  .row
    .col-md-12
      %p.light_brown Was this review?
  .row
    .col-md-12
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'lightbulb-o', text: 'useful'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'smile-o', text: 'funny'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'empire', text: 'cool'
  .row
    .text-center.more-reviews-button
      %a(href='#' class='btn btn-primary btn-lg') Go Back

