%h1.large-heading.text-center Search results
.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews 116 Reviews
    .col-md-5
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia

  %hr

.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews 87 Reviews
    .col-md-5
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia

  %hr

.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews 7 Reviews
    .col-md-5
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
