%h1.large-heading.text-center Search results
.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia

  %hr

.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia

  %hr

.review
  .row
    .col-md-7
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
