%h1.large-heading.text-center Search results

.review
  .row
    .col-md-5
      %span.cl-effect-12
        %a(href='#' class='company-name') The Big Joe's Pizzaria
      .col-md-12.company-stars
        %a(href='#' class='label label-primary') Travel
        %a(href='#'class='label label-primary') Hotels
        %a(href='#'class='label label-primary') Restaurants
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
    .col-md-2
      %br
      %br
      .btn.btn-primary Write a Review

  %hr

.review
  .row
    .col-md-5
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .col-md-12.company-stars
        %a(href='#'class='label label-primary') Restaurants
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
    .col-md-2
      %br
      %br
      .btn.btn-primary Write a Review

  %hr

.review
  .row
    .col-md-5
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .col-md-12.company-stars
        %a(href='#' class='label label-primary') Travel
        %a(href='#' class='label label-primary') Food
        %a(href='#'class='label label-primary') Hotels
        %a(href='#'class='label label-primary') Restaurants
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
    .col-md-2
      %br
      %br
      .btn.btn-primary Write a Review

  %hr

.review
  .row
    .col-md-5
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
    .col-md-2
      %br
      %br
      .btn.btn-primary Write a Review

  %hr

.review
  .row
    .col-md-5
      %span.cl-effect-12
        %a(href='#' class='company-name') McDonalds
      .review-stars.col-md-12.company-stars.average-stars
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star'
        = fa_icon 'star-o'
        = fa_icon 'star-o'
        %span.sum-reviews.company-reviews 116 Reviews
        .col-md-12.eur.eur-all-search
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-full'
          = fa_icon 'eur', class: 'eur-empty'
          = fa_icon 'eur', class: 'eur-empty'
    .col-md-5.address
      %div Nobelova street 34
      %div 1000 Ljubljana
      %div Slovenia
    .col-md-2
      %br
      %br
      .btn.btn-primary Write a Review

  .row
    .text-center.more-reviews-button
      %a(href='#' class='btn btn-primary') More Companies
