%h1.text-center.large-heading Welcome!
%p.welcome-text People use Yelp to search for everything from the city's tastiest burger to the most renowned cardiologist. This web app is clone of the real Yelp site and was made for educational purpose. Try it out and have fun.
.text-center
  %a(href='#' class='btn btn-primary tutorial') Tutorial
  %br
  - unless logged_in?
    = link_to 'Sign up', signup_path, class: 'btn btn-primary'
    = link_to 'Login', login_path, class: 'btn btn-default default-button'

%h1.text-center Recent reviews
.review
  .row.col-md-12
    %span.cl-effect-12
      %a(href='#') Toni. C
    wrote a review for
    %span.cl-effect-12
      %a(href='#') Kasca Mrlacnik
    %span.pull-right.time-ago= fa_icon 'clock-o', text: '1 minute ago'
  .row.review-stars.col-md-12
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
  .row
    .col-md-8
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
  .row
    .col-md-12
      %span.cl-effect-12
        %a(href='#')= fa_icon 'share-square-o', text: 'read more'
  .row
    .col-md-12
      %p.light_brown Was this review?
  .row
    .col-md-12
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'lightbulb-o', text: 'useful'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'smile-o', text: 'funny'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'empire', text: 'cool'
      %a(href='#' class='btn btn-primary pull-right')= fa_icon 'flag', text: 'flag'

  %hr

.review
  .row.col-md-12
    %a(href='#') Toni. C
    wrote a review for
    %a(href='#') Kasca Mrlacnik
    %span.pull-right.time-ago= fa_icon 'clock-o', text: '4 hours ago'
  .row.review-stars.col-md-12
    = fa_icon 'star'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
  .row
    .col-md-8
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
  .row
    .col-md-12
      %a(href='#')= fa_icon 'share-square-o', text: 'read more'
  .row
    .col-md-12
      %p.light_brown Was this review?
  .row
    .col-md-12
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'lightbulb-o', text: 'useful'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'smile-o', text: 'funny'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'empire', text: 'cool'

  %hr

.review
  .row.col-md-12
    %a(href='#') Toni. C
    wrote a review for
    %a(href='#') Kasca Mrlacnik
    %span.pull-right.time-ago= fa_icon 'clock-o', text: '8 days ago'
  .row.review-stars.col-md-12
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
  .row
    .col-md-8
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
  .row
    .col-md-12
      %a(href='#')= fa_icon 'share-square-o', text: 'read more'
  .row
    .col-md-12
      %p.light_brown Was this review?
  .row
    .col-md-12
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'lightbulb-o', text: 'useful'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'smile-o', text: 'funny'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'empire', text: 'cool'

  %hr

.review
  .row.col-md-12
    %a(href='#') Toni. C
    wrote a review for
    %a(href='#') Kasca Mrlacnik
    %span.pull-right.time-ago= fa_icon 'clock-o', text: '10 years ago'
  .row.review-stars.col-md-12
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star'
    = fa_icon 'star-o'
    = fa_icon 'star-o'
  .row
    .col-md-8
      %p Ne illud tritani malorum mel, te diam ubique appellantur cum. Meis appareat dissentias mel eu. Nemore forensibus eos ea, id habeo causae appellantur sit, delenit volutpat ne nam. Ius te duis vituperatoribus, sit id nullam regione officiis, no viderer percipit mea.
  .row
    .col-md-12
      %a(href='#')= fa_icon 'share-square-o', text: 'read more'
  .row
    .col-md-12
      %p.light_brown Was this review?
  .row
    .col-md-12
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'lightbulb-o', text: 'useful'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'smile-o', text: 'funny'
      %a(href='#' class='btn btn-info useful-funny-cool-btn')= fa_icon 'empire', text: 'cool'

  .row
    .text-center.more-reviews-button
      %a(href='#' class='btn btn-primary') More reviews



